In [1]:
import pandas as pd
df= pd.read_excel('C:\\mean median mode.xlsx')

In [2]:
df.age.corr(df['salary_2018'])

0.49749035505602124

In [3]:
df1=df[['age','salary_2018','totalW_working_years','percent_hike']]

In [4]:
df1.corr()

,age,salary_2018,totalW_working_years,percent_hike
age,1.000000,0.497490,0.680381,0.003634
salary_2018,0.497490,1.000000,0.772106,0.017307
totalW_working_years,0.680381,0.772106,1.000000,-0.020608
percent_hike,0.003634,0.017307,-0.020608,1.000000

In [5]:
df.corr()

,age,employee_number,job_level,performance_rating,totalW_working_years,training_times_last_year,years_since_last_promotion,years_with_curr_manager,monthly_income,salary_2017,salary_2018,year_of_joining,last_role_change,percent_hike
age,1.000000,-0.010145,0.509604,0.001904,0.680381,-0.019621,0.216513,0.202089,0.497855,0.497855,0.497490,-0.311309,-0.212901,0.003634
employee_number,-0.010145,1.000000,-0.018519,-0.020359,-0.014365,0.023603,-0.009019,-0.009197,-0.014829,-0.014829,-0.013341,0.011240,0.008416,-0.012944
job_level,0.509604,-0.018519,1.000000,-0.021222,0.782208,-0.018191,0.353885,0.375281,0.950300,0.950300,0.948134,-0.534739,-0.389447,-0.034730
performance_rating,0.001904,-0.020359,-0.021222,1.000000,0.006744,-0.015579,0.017896,0.022827,-0.017120,-0.017120,0.016890,-0.003435,-0.034986,0.773550
totalW_working_years,0.680381,-0.014365,0.782208,0.006744,1.000000,-0.035662,0.404858,0.459188,0.772893,0.772893,0.772106,-0.628133,-0.460365,-0.020608
training_times_last_year,-0.019621,0.023603,-0.018191,-0.015579,-0.035662,1.000000,-0.002067,-0.004096,-0.021736,-0.021736,-0.021365,-0.003569,0.005738,-0.005221
years_since_last_promotion,0.216513,-0.009019,0.353885,0.017896,0.404858,-0.002067,1.000000,0.510224,0.344978,0.344978,0.343297,-0.618409,-0.548056,-0.022154
years_with_curr_manager,0.202089,-0.009197,0.375281,0.022827,0.459188,-0.004096,0.510224,1.000000,0.344079,0.344079,0.343484,-0.769212,-0.714365,-0.011985
monthly_income,0.497855,-0.014829,0.950300,-0.017120,0.772893,-0.021736,0.344978,0.344079,1.000000,1.000000,0.998482,-0.514285,-0.363818,-0.027269
salary_2017,0.497855,-0.014829,0.950300,-0.017120,0.772893,-0.021736,0.344978,0.344079,1.000000,1.000000,0.998482,-0.514285,-0.363818,-0.027269
salary_2018,0.497490,-0.013341,0.948134,0.016890,0.772106,-0.021365,0.343297,0.343484,0.998482,0.998482,1.000000,-0.512096,-0.364510,0.017307
year_of_joining,-0.311309,0.011240,-0.534739,-0.003435,-0.628133,-0.003569,-0.618409,-0.769212,-0.514285,-0.514285,-0.512096,1.000000,0.758754,0.035991
last_role_change,-0.212901,0.008416,-0.389447,-0.034986,-0.460365,0.005738,-0.548056,-0.714365,-0.363818,-0.363818,-0.364510,0.758754,1.000000,0.001520
percent_hike,0.003634,-0.012944,-0.034730,0.773550,-0.020608,-0.005221,-0.022154,-0.011985,-0.027269,-0.027269,0.017307,0.035991,0.001520,1.000000