In [1]:
import pandas as pd
df= pd.read_excel('C:\\mean median mode.xlsx')

In [2]:
df['Tenure'] = 2018 - df['year_of_joining']

In [4]:
df['Tenure']

0        6
1       10
2        0
3        8
4        2
        ..
1465     5
1466     7
1467     6
1468     9
1469     4
Name: Tenure, Length: 1470, dtype: int64

In [3]:
df['Tenure'].describe()

count    1470.000000
mean        7.008163
std         6.126525
min         0.000000
25%         3.000000
50%         5.000000
75%         9.000000
max        40.000000
Name: Tenure, dtype: float64