In [1]:
import pandas as pd
df= pd.read_excel('C:\\mean median mode.xlsx')

In [2]:
df["department"].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: department, dtype: int64

In [4]:
import numpy as np
df['hr_dummy'] = np.where(df['department']=="Human Resources",1,0)

In [5]:
df['s_dummy'] = np.where(df['department']=="Sales",1,0)

In [7]:
df['hr_dummy'].value_counts()

0    1407
1      63
Name: hr_dummy, dtype: int64

In [8]:
df=df.drop(['hr_dummy','s_dummy'],axis=1)

In [9]:
df

,age,department,employee_number,gender,job_level,marital_status,over_time,performance_rating,totalW_working_years,training_times_last_year,years_since_last_promotion,years_with_curr_manager,monthly_income,salary_2017,salary_2018,year_of_joining,last_role_change,percent_hike
0,41,Sales,1,Female,2,Single,Yes,3,8,0,0,5,5993,71916,79826.76,2012,2014,11
1,49,Research & Development,2,Male,2,Married,No,4,10,3,1,7,5130,61560,75718.80,2008,2011,23
2,37,Research & Development,4,Male,1,Single,Yes,3,7,3,0,0,2090,25080,28842.00,2018,2018,15
3,33,Research & Development,5,Female,1,Married,Yes,3,8,3,3,0,2909,34908,38747.88,2010,2011,11
4,27,Research & Development,7,Male,1,Married,No,3,6,3,2,2,3468,41616,46609.92,2016,2016,12
5,32,Research & Development,8,Male,1,Single,No,3,8,2,3,6,3068,36816,41602.08,2011,2011,13
6,59,Research & Development,10,Female,1,Married,Yes,4,12,3,0,0,2670,32040,38448.00,2017,2018,20
7,30,Research & Development,11,Male,1,Divorced,No,4,1,2,0,0,2693,32316,39425.52,2017,2018,22
8,38,Research & Development,12,Male,3,Single,No,4,10,2,1,8,9526,114312,138317.52,2009,2011,21
9,36,Research & Development,13,Male,2,Married,No,3,17,3,7,7,5237,62844,71013.72,2011,2011,13
10,35,Research & Development,14,Male,1,Married,No,3,6,5,0,3,2426,29112,32896.56,2013,2014,13
11,29,Research & Development,15,Female,2,Single,Yes,3,10,3,0,8,4193,50316,56353.92,2009,2013,12
12,31,Research & Development,16,Male,1,Divorced,No,3,5,1,4,3,2911,34932,40870.44,2013,2016,17
13,34,Research & Development,18,Male,1,Divorced,No,3,3,2,1,2,2661,31932,35444.52,2016,2016,11
14,28,Research & Development,19,Male,1,Single,Yes,3,6,4,0,3,2028,24336,27743.04,2014,2016,14
15,29,Research & Development,20,Female,3,Divorced,No,3,10,1,8,8,9980,119760,132933.60,2008,2009,11
16,32,Research & Development,21,Male,1,Divorced,Yes,3,7,5,0,5,3298,39576,44325.12,2012,2016,12
17,22,Research & Development,22,Male,1,Divorced,Yes,3,1,2,0,0,2935,35220,39798.60,2017,2018,13
18,53,Sales,23,Female,4,Married,No,3,31,3,3,7,15427,185124,214743.84,1993,2010,16
19,38,Research & Development,24,Male,1,Single,Yes,3,6,3,1,2,3944,47328,52534.08,2015,2016,11
20,24,Research & Development,26,Female,2,Divorced,No,3,5,5,1,3,4011,48132,56795.76,2014,2016,18
21,36,Sales,27,Male,1,Single,No,4,10,4,0,3,3407,40884,50287.32,2013,2015,23
22,34,Research & Development,28,Female,3,Single,No,3,13,4,2,11,11994,143928,159760.08,2006,2012,11
23,21,Research & Development,30,Male,1,Single,No,3,0,6,0,0,1232,14784,16853.76,2018,2018,14
24,34,Research & Development,31,Male,1,Single,No,3,8,2,1,3,2960,35520,39427.20,2014,2016,11
25,53,Research & Development,32,Female,5,Divorced,No,3,26,3,4,8,19094,229128,254332.08,2004,2005,11
26,32,Research & Development,33,Female,1,Single,Yes,4,10,5,6,7,3919,47028,57374.16,2008,2016,22
27,42,Sales,35,Male,2,Married,No,3,10,2,4,2,6825,81900,90909.00,2009,2011,11
28,44,Research & Development,36,Female,3,Married,No,3,24,4,5,17,10248,122976,140192.64,1996,2012,14
29,46,Sales,38,Female,5,Single,No,3,22,2,2,1,18947,227364,254647.68,2016,2016,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,Research & Development,2025,Female,2,Divorced,No,3,18,3,0,2,5131,61572,69576.36,2014,2016,13
1441,56,Research & Development,2026,Male,2,Divorced,No,4,13,2,1,9,6306,75672,91563.12,2005,2006,21
1442,29,Research & Development,2027,Male,1,Married,Yes,3,4,3,2,2,4787,57444,65486.16,2016,2016,14
1443,42,Research & Development,2031,Male,5,Married,No,3,24,2,4,14,18880,226560,251481.60,1996,2012,11
1444,56,Research & Development,2032,Male,1,Married,No,3,14,4,9,8,2339,28068,31155.48,2008,2009,11
1445,41,Research & Development,2034,Female,4,Married,No,4,21,3,0,10,13570,162840,200293.20,1998,2011,23
1446,34,Sales,2035,Female,2,Married,No,4,8,2,1,7,6712,80544,97458.24,2010,2011,21
1447,36,Sales,2036,Male,2,Divorced,No,4,15,4,11,11,5406,64872,80441.28,2003,2006,24
1448,41,Sales,2037,Male,2,Divorced,No,3,14,5,0,4,8938,107256,119054.16,2013,2014,11
1449,32,Research & Development,2038,Male,1,Single,No,3,4,4,1,2,2439,29268,33365.52,2014,2016,14
1450,35,Human Resources,2040,Female,3,Single,Yes,3,9,2,1,7,8837,106044,123011.04,2009,2018,16
1451,38,Sales,2041,Female,2,Married,No,3,10,1,1,9,5343,64116,71168.76,2008,2011,11
1452,50,Sales,2044,Male,2,Divorced,No,3,12,3,0,1,6728,80736,90424.32,2012,2015,12
1453,36,Sales,2045,Female,2,Married,No,3,8,2,0,0,6652,79824,90201.12,2012,2015,13
1454,45,Sales,2046,Female,2,Single,No,3,8,3,0,1,4850,58200,66930.00,2013,2015,15
1455,40,Research & Development,2048,Male,1,Single,No,3,8,2,2,2,2809,33708,38427.12,2016,2016,14
1456,35,Research & Development,2049,Male,2,Married,Yes,3,10,2,0,2,5689,68268,77825.52,2008,2016,14
1457,40,Research & Development,2051,Female,1,Married,No,3,20,2,0,2,2001,24012,27373.68,2013,2015,14
1458,35,Research & Development,2052,Female,1,Married,No,3,4,5,1,1,2977,35724,40010.88,2014,2015,12
1459,29,Research & Development,2053,Male,2,Married,Yes,3,10,2,0,3,4025,48300,54579.00,2014,2015,13
1460,29,Research & Development,2054,Female,1,Single,No,3,5,3,0,4,3785,45420,51778.80,2013,2014,14
1461,50,Sales,2055,Male,3,Divorced,Yes,3,20,3,2,0,10854,130248,147180.24,2015,2016,13
1462,39,Sales,2056,Female,4,Married,No,3,21,2,9,6,12031,144372,160252.92,1998,2009,11
1463,31,Research & Development,2057,Male,2,Single,No,3,10,2,1,7,9936,119232,141886.08,2009,2014,19
1464,26,Sales,2060,Female,1,Single,No,3,5,2,0,0,2966,35592,41998.56,2014,2016,18
1465,36,Research & Development,2061,Male,2,Married,No,3,17,3,0,3,2571,30852,36096.84,2013,2016,17
1466,39,Research & Development,2062,Male,3,Married,No,3,9,5,1,7,9991,119892,137875.80,2011,2011,15
1467,27,Research & Development,2064,Male,2,Married,Yes,4,6,0,0,3,6142,73704,88444.80,2012,2016,20
1468,49,Sales,2065,Male,2,Married,No,3,17,3,0,8,5390,64680,73735.20,2009,2012,14
1469,34,Research & Development,2068,Male,2,Married,No,3,6,3,1,2,4404,52848,59189.76,2014,2015,12

In [10]:
df=pd.get_dummies(df)

In [11]:
df.head()

,age,employee_number,job_level,performance_rating,totalW_working_years,training_times_last_year,years_since_last_promotion,years_with_curr_manager,monthly_income,salary_2017,...,department_Human Resources,department_Research & Development,department_Sales,gender_Female,gender_Male,marital_status_Divorced,marital_status_Married,marital_status_Single,over_time_No,over_time_Yes
0,41,1,2,3,8,0,0,5,5993,71916,...,0,0,1,1,0,0,0,1,0,1
1,49,2,2,4,10,3,1,7,5130,61560,...,0,1,0,0,1,0,1,0,1,0
2,37,4,1,3,7,3,0,0,2090,25080,...,0,1,0,0,1,0,0,1,0,1
3,33,5,1,3,8,3,3,0,2909,34908,...,0,1,0,1,0,0,1,0,0,1
4,27,7,1,3,6,3,2,2,3468,41616,...,0,1,0,0,1,0,1,0,1,0

In [19]:
df.apply(pd.Series.value_counts)

,age,employee_number,job_level,performance_rating,totalW_working_years,training_times_last_year,years_since_last_promotion,years_with_curr_manager,monthly_income,salary_2017,...,department_Human Resources,department_Research & Development,department_Sales,gender_Female,gender_Male,marital_status_Divorced,marital_status_Married,marital_status_Single,over_time_No,over_time_Yes
0.00,NaN,NaN,NaN,NaN,11.0,54.0,581.0,263.0,NaN,NaN,...,1407.0,509.0,1024.0,882.0,588.0,1143.0,797.0,1000.0,416.0,1054.0
1.00,NaN,1.0,543.0,NaN,81.0,71.0,357.0,76.0,NaN,NaN,...,63.0,961.0,446.0,588.0,882.0,327.0,673.0,470.0,1054.0,416.0
2.00,NaN,1.0,534.0,NaN,31.0,547.0,159.0,344.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.00,NaN,NaN,218.0,1244.0,42.0,491.0,52.0,142.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.00,NaN,1.0,106.0,226.0,63.0,123.0,61.0,98.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.00,NaN,1.0,69.0,NaN,88.0,119.0,45.0,31.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6.00,NaN,NaN,NaN,NaN,125.0,65.0,32.0,29.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7.00,NaN,1.0,NaN,NaN,81.0,NaN,76.0,216.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8.00,NaN,1.0,NaN,NaN,103.0,NaN,18.0,107.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9.00,NaN,NaN,NaN,NaN,96.0,NaN,17.0,64.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10.00,NaN,1.0,NaN,NaN,202.0,NaN,6.0,27.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11.00,NaN,1.0,NaN,NaN,36.0,NaN,24.0,22.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12.00,NaN,1.0,NaN,NaN,48.0,NaN,10.0,18.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13.00,NaN,1.0,NaN,NaN,36.0,NaN,10.0,14.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14.00,NaN,1.0,NaN,NaN,31.0,NaN,9.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15.00,NaN,1.0,NaN,NaN,40.0,NaN,13.0,5.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16.00,NaN,1.0,NaN,NaN,37.0,NaN,NaN,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17.00,NaN,NaN,NaN,NaN,33.0,NaN,NaN,7.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18.00,8.0,1.0,NaN,NaN,27.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.00,9.0,1.0,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20.00,11.0,1.0,NaN,NaN,30.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21.00,13.0,1.0,NaN,NaN,34.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22.00,16.0,1.0,NaN,NaN,21.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23.00,14.0,1.0,NaN,NaN,22.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24.00,26.0,1.0,NaN,NaN,18.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25.00,26.0,NaN,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26.00,39.0,1.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27.00,48.0,1.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28.00,48.0,1.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29.00,68.0,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
263484.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264145.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264297.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264413.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264421.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264921.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265953.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268483.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269087.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269288.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269728.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270002.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270043.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270427.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271315.44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
271365.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272642.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273586.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273614.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273808.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
273861.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
274978.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275563.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
277546.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278045.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
284388.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
286058.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
287134.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
292404.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
295323.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df=df.drop(['gender_Male','department_Research & Development','marital_status_Married','over_time_No'],axis=1)

In [21]:
df

,age,employee_number,job_level,performance_rating,totalW_working_years,training_times_last_year,years_since_last_promotion,years_with_curr_manager,monthly_income,salary_2017,salary_2018,year_of_joining,last_role_change,percent_hike,department_Human Resources,department_Sales,gender_Female,marital_status_Divorced,marital_status_Single,over_time_Yes
0,41,1,2,3,8,0,0,5,5993,71916,79826.76,2012,2014,11,0,1,1,0,1,1
1,49,2,2,4,10,3,1,7,5130,61560,75718.80,2008,2011,23,0,0,0,0,0,0
2,37,4,1,3,7,3,0,0,2090,25080,28842.00,2018,2018,15,0,0,0,0,1,1
3,33,5,1,3,8,3,3,0,2909,34908,38747.88,2010,2011,11,0,0,1,0,0,1
4,27,7,1,3,6,3,2,2,3468,41616,46609.92,2016,2016,12,0,0,0,0,0,0
5,32,8,1,3,8,2,3,6,3068,36816,41602.08,2011,2011,13,0,0,0,0,1,0
6,59,10,1,4,12,3,0,0,2670,32040,38448.00,2017,2018,20,0,0,1,0,0,1
7,30,11,1,4,1,2,0,0,2693,32316,39425.52,2017,2018,22,0,0,0,1,0,0
8,38,12,3,4,10,2,1,8,9526,114312,138317.52,2009,2011,21,0,0,0,0,1,0
9,36,13,2,3,17,3,7,7,5237,62844,71013.72,2011,2011,13,0,0,0,0,0,0
10,35,14,1,3,6,5,0,3,2426,29112,32896.56,2013,2014,13,0,0,0,0,0,0
11,29,15,2,3,10,3,0,8,4193,50316,56353.92,2009,2013,12,0,0,1,0,1,1
12,31,16,1,3,5,1,4,3,2911,34932,40870.44,2013,2016,17,0,0,0,1,0,0
13,34,18,1,3,3,2,1,2,2661,31932,35444.52,2016,2016,11,0,0,0,1,0,0
14,28,19,1,3,6,4,0,3,2028,24336,27743.04,2014,2016,14,0,0,0,0,1,1
15,29,20,3,3,10,1,8,8,9980,119760,132933.60,2008,2009,11,0,0,1,1,0,0
16,32,21,1,3,7,5,0,5,3298,39576,44325.12,2012,2016,12,0,0,0,1,0,1
17,22,22,1,3,1,2,0,0,2935,35220,39798.60,2017,2018,13,0,0,0,1,0,1
18,53,23,4,3,31,3,3,7,15427,185124,214743.84,1993,2010,16,0,1,1,0,0,0
19,38,24,1,3,6,3,1,2,3944,47328,52534.08,2015,2016,11,0,0,0,0,1,1
20,24,26,2,3,5,5,1,3,4011,48132,56795.76,2014,2016,18,0,0,1,1,0,0
21,36,27,1,4,10,4,0,3,3407,40884,50287.32,2013,2015,23,0,1,0,0,1,0
22,34,28,3,3,13,4,2,11,11994,143928,159760.08,2006,2012,11,0,0,1,0,1,0
23,21,30,1,3,0,6,0,0,1232,14784,16853.76,2018,2018,14,0,0,0,0,1,0
24,34,31,1,3,8,2,1,3,2960,35520,39427.20,2014,2016,11,0,0,0,0,1,0
25,53,32,5,3,26,3,4,8,19094,229128,254332.08,2004,2005,11,0,0,1,1,0,0
26,32,33,1,4,10,5,6,7,3919,47028,57374.16,2008,2016,22,0,0,1,0,1,1
27,42,35,2,3,10,2,4,2,6825,81900,90909.00,2009,2011,11,0,1,0,0,0,0
28,44,36,3,3,24,4,5,17,10248,122976,140192.64,1996,2012,14,0,0,1,0,0,0
29,46,38,5,3,22,2,2,1,18947,227364,254647.68,2016,2016,12,0,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,2025,2,3,18,3,0,2,5131,61572,69576.36,2014,2016,13,0,0,1,1,0,0
1441,56,2026,2,4,13,2,1,9,6306,75672,91563.12,2005,2006,21,0,0,0,1,0,0
1442,29,2027,1,3,4,3,2,2,4787,57444,65486.16,2016,2016,14,0,0,0,0,0,1
1443,42,2031,5,3,24,2,4,14,18880,226560,251481.60,1996,2012,11,0,0,0,0,0,0
1444,56,2032,1,3,14,4,9,8,2339,28068,31155.48,2008,2009,11,0,0,0,0,0,0
1445,41,2034,4,4,21,3,0,10,13570,162840,200293.20,1998,2011,23,0,0,1,0,0,0
1446,34,2035,2,4,8,2,1,7,6712,80544,97458.24,2010,2011,21,0,1,1,0,0,0
1447,36,2036,2,4,15,4,11,11,5406,64872,80441.28,2003,2006,24,0,1,0,1,0,0
1448,41,2037,2,3,14,5,0,4,8938,107256,119054.16,2013,2014,11,0,1,0,1,0,0
1449,32,2038,1,3,4,4,1,2,2439,29268,33365.52,2014,2016,14,0,0,0,0,1,0
1450,35,2040,3,3,9,2,1,7,8837,106044,123011.04,2009,2018,16,1,0,1,0,1,1
1451,38,2041,2,3,10,1,1,9,5343,64116,71168.76,2008,2011,11,0,1,1,0,0,0
1452,50,2044,2,3,12,3,0,1,6728,80736,90424.32,2012,2015,12,0,1,0,1,0,0
1453,36,2045,2,3,8,2,0,0,6652,79824,90201.12,2012,2015,13,0,1,1,0,0,0
1454,45,2046,2,3,8,3,0,1,4850,58200,66930.00,2013,2015,15,0,1,1,0,1,0
1455,40,2048,1,3,8,2,2,2,2809,33708,38427.12,2016,2016,14,0,0,0,0,1,0
1456,35,2049,2,3,10,2,0,2,5689,68268,77825.52,2008,2016,14,0,0,0,0,0,1
1457,40,2051,1,3,20,2,0,2,2001,24012,27373.68,2013,2015,14,0,0,1,0,0,0
1458,35,2052,1,3,4,5,1,1,2977,35724,40010.88,2014,2015,12,0,0,1,0,0,0
1459,29,2053,2,3,10,2,0,3,4025,48300,54579.00,2014,2015,13,0,0,0,0,0,1
1460,29,2054,1,3,5,3,0,4,3785,45420,51778.80,2013,2014,14,0,0,1,0,1,0
1461,50,2055,3,3,20,3,2,0,10854,130248,147180.24,2015,2016,13,0,1,0,1,0,1
1462,39,2056,4,3,21,2,9,6,12031,144372,160252.92,1998,2009,11,0,1,1,0,0,0
1463,31,2057,2,3,10,2,1,7,9936,119232,141886.08,2009,2014,19,0,0,0,0,1,0
1464,26,2060,1,3,5,2,0,0,2966,35592,41998.56,2014,2016,18,0,1,1,0,1,0
1465,36,2061,2,3,17,3,0,3,2571,30852,36096.84,2013,2016,17,0,0,0,0,0,0
1466,39,2062,3,3,9,5,1,7,9991,119892,137875.80,2011,2011,15,0,0,0,0,0,0
1467,27,2064,2,4,6,0,0,3,6142,73704,88444.80,2012,2016,20,0,0,0,0,0,1
1468,49,2065,2,3,17,3,0,8,5390,64680,73735.20,2009,2012,14,0,1,0,0,0,0
1469,34,2068,2,3,6,3,1,2,4404,52848,59189.76,2014,2015,12,0,0,0,0,0,0