In [9]:
import pandas as pd
df= pd.read_excel('missing data.xlsx')

In [10]:
df.isna().sum()

e_code                      0
status                      0
hire_date                   0
service_agreement           0
job_level                   0
performance_rating_2018     0
performance_rating_2017     0
year_of_birth               0
gender                      0
distance_from_home          0
manager_changes             0
no_of_promotions            0
risk_of_attrition          14
potential_rating            0
bonus                       0
no_courses_taken            0
time_in_position            0
awards                      0
signon                      0
manager_sat                 0
employee_sat               21
salary_2017                 0
salary_2018                 0
dtype: int64

In [11]:
df.isna().sum()/df.count()*100

e_code                     0.000000
status                     0.000000
hire_date                  0.000000
service_agreement          0.000000
job_level                  0.000000
performance_rating_2018    0.000000
performance_rating_2017    0.000000
year_of_birth              0.000000
gender                     0.000000
distance_from_home         0.000000
manager_changes            0.000000
no_of_promotions           0.000000
risk_of_attrition          2.083333
potential_rating           0.000000
bonus                      0.000000
no_courses_taken           0.000000
time_in_position           0.000000
awards                     0.000000
signon                     0.000000
manager_sat                0.000000
employee_sat               3.157895
salary_2017                0.000000
salary_2018                0.000000
dtype: float64

In [7]:
df1=df.dropna()

In [8]:
df1.isna().sum()

e_code                     0
status                     0
hire_date                  0
service_agreement          0
job_level                  0
performance_rating_2018    0
performance_rating_2017    0
year_of_birth              0
gender                     0
distance_from_home         0
manager_changes            0
no_of_promotions           0
risk_of_attrition          0
potential_rating           0
bonus                      0
no_courses_taken           0
time_in_position           0
awards                     0
signon                     0
manager_sat                0
employee_sat               0
salary_2017                0
salary_2018                0
dtype: int64

In [13]:
df1=df['employee_sat']
df1=df1.fillna(0)
df1

0      80.0
1      84.0
2      93.0
3      83.0
4      80.0
       ...
681    80.0
682    80.0
683    80.0
684    80.0
685    80.0
Name: employee_sat, Length: 686, dtype: float64

In [14]:
df1.isna().sum()

0

In [15]:
df1=df['employee_sat']
df1=df1.fillna(df1.mean())
df1

0      80.0
1      84.0
2      93.0
3      83.0
4      80.0
       ...
681    80.0
682    80.0
683    80.0
684    80.0
685    80.0
Name: employee_sat, Length: 686, dtype: float64

In [16]:
df1.isna().sum()

0

In [17]:
df1=df['employee_sat']
df1=df1.fillna(df1.median())
df1

0      80.0
1      84.0
2      93.0
3      83.0
4      80.0
       ...
681    80.0
682    80.0
683    80.0
684    80.0
685    80.0
Name: employee_sat, Length: 686, dtype: float64

In [18]:
df1.isna().sum()

0

In [19]:
df1=df['employee_sat']
df1.value_counts()

80.0     403
74.0      16
85.0      14
86.0      13
87.0      13
83.0      13
76.0      13
73.0      12
81.0      12
78.0      12
89.0      12
88.0      11
92.0      11
77.0      11
82.0      11
91.0       9
90.0       9
79.0       8
72.0       8
75.0       7
84.0       7
71.0       6
93.0       6
70.0       6
94.0       6
100.0      4
95.0       4
96.0       3
97.0       3
98.0       2
Name: employee_sat, dtype: int64

In [20]:
df1=df1.fillna(80)

In [21]:
df1.isna().sum()

0

In [22]:
df1=df
df1['risk_of_attrition'].value_counts()

LOW          642
MEDIUM        19
VERY HIGH      8
HIGH           3
Name: risk_of_attrition, dtype: int64

In [23]:
df2=df1['risk_of_attrition'].fillna("LOW")

In [24]:
df2.isna().sum()

0