In [1]:
import pandas as pd
df= pd.read_excel('C:\\mean median mode.xlsx')

In [6]:
pd.crosstab(df.department,df.gender)

gender                  Female  Male
department
Human Resources             20    43
Research & Development     379   582
Sales                      189   257

In [7]:
pd.crosstab(df.department,df.gender,normalize=True)

gender                    Female      Male
department
Human Resources         0.013605  0.029252
Research & Development  0.257823  0.395918
Sales                   0.128571  0.174830

In [8]:
pd.crosstab(df.department,df.gender,normalize='index')

gender                    Female      Male
department
Human Resources         0.317460  0.682540
Research & Development  0.394381  0.605619
Sales                   0.423767  0.576233

In [9]:
pd.crosstab(df.department,df.gender,normalize='columns')

gender                    Female      Male
department
Human Resources         0.034014  0.048753
Research & Development  0.644558  0.659864
Sales                   0.321429  0.291383